*{
    margin: 0;
    padding: 0;
    font-family: 'poppins' sans-serif;
    background-size: cover;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(images/frame.jpg);
    background-size: cover;
    background-position: center;

}

nav{
    font-family: 'Rajdhani', sans-serif;
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    max-height: 100px;
    overflow: hidden;
    transition: max-height 0.5s;

}

.search-input{
   flex: 1; 
}

.card-head{
    font-family: 'Rajdhani', sans-serif;
    position: absolute;
    top: 3%;
    left: 2%;
    color: #fff;
    font-size: medium;

}

.card-main{
    font-family: 'Rajdhani', sans-serif;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 600;

}

.logo{
    width: 94px;
    cursor: pointer;
}
.nav-links li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

.nav-links li a{
    text-decoration: none;
    color: #000;

}

.nav-links li a:hover{
    color: #fabd02;
}

.signup-btn{
    background: #fabd02;
    color: #000;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
}

.login-btn{
    background: #fabd02;
    color: #000;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    text-decoration: none;
}

.d-grid a:hover{
    color: blue; 
}

.container{
    padding: 0 7%;
}

.header h1{
    font-size: 4vw;
    font-weight: 400;
    color: #fff;
    text-align: center;
    font-size: 50PX;
    font-weight: bold;
}
.header h2{
    font-family: 'EB Garamond', serif;
    font-size: 3vw;
    font-weight: 300;
    color: #fabd02;
    text-align: center;
    padding: 1%;
    font-size: xx-large;
    font-weight: 500;
}
.container-fluid{
    margin-top: 25%;
}
.container p{
    font-family: 'EB Garamond', serif;
    font-size: 19px;
}


.sub-title{
    font-family: 'Rajdhani', sans-serif;
    margin-top: 50px;
    margin-bottom: 30px;
    color: green;
    font-weight: 700;
}

.sub-title p{
    font-family: 'Rajdhani', sans-serif;
    font-size: 19px;
    color: #000;
}

.about{
    font-family: 'Crimson Text', serif;
    font-size: 24px;
    color: #000;
}
.pic{
    font-size: 100%;
}

.card-body{
    background-color: #1ca9ca;
}
.card-group{
    font-size: 10px;
}
.card-img{
    position: absolute;
    width: 80%;
    color: #fff;
    font-size: 26px;
    
}

.footer{
    margin-top: 30px;
    margin: 80px 0 10px;
    text-align: center;
}
.footer a{
    text-decoration: none;
    color: #343a40;
    font-size: 22px;
    margin: 0 10px;
    font-weight: bold;
}
.footer hr{
    color: #343a40;
    width: 90%;
   
}
.footer p{
    color: #343a40;
}

nav .bi-list{
    display: none;
}

/*------small sreen-------*/

@media only screen and (max-width: 700px){
    .header{
        margin-top: 20%;
    }
    .logo{
        position: fixed;
        top: 4%;
        left: 7%;
    }
    nav{
        position: fixed;
        top: 0;
        z-index: 100;
        display: inline-block;
        width: 100%;
        padding: 100px 7% 0;
        background: #fff;
        text-align: right;
    }
    nav .nav-links li{
        margin: 10px;
        display: block;
    }
    .d-grid{
        justify-content: right;
    }
    .signup-btn{
        margin: 15px 0 30px;
        display: inline-block;
        font-size: medium;
        text-align: center;
    }
    .login-btn{
        margin: 15px o 30px;
        display: inline-block;
        font-size: medium;
        text-align: center;
    }
    nav .bi-list{
        display: block;
        position: fixed;
        top: 4%;
        right: 7%;
        color: #000;
        font-size: 28px;
    }
    
    .hidemenu{
        max-height: 600px;
    }
    
    .header h1{
        padding-top: 20%;
    }

    .container-fluid{
        align-items: center;
        margin-top: 40%;
    }

}
    


/*-----------listing page----------*/

nav{
    font-family: 'Rajdhani', sans-serif;
    margin-bottom: 60px;
}
.explore{
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image:  linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(images/kera.png);
}
.explore h2{
    font-family: 'Rajdhani', sans-serif;
    font-size: 3vw;
    font-weight: 300;
    color: #000;
    text-align: center;
    font-size: 45px;
    font-weight: 200; 
    margin-bottom: 50px;
}

.row{
    margin-bottom: 35px;
}
.card-title{
    font-family: 'Rajdhani', sans-serif;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 600;
    text-align: center;
}
.card-text{
    margin-left: 10px;
    margin-bottom: 5px;
}
.btn-primary{
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 100px;
}

@media only screen and (max-width: 700px){
    .explore h2{
        padding-top: 50px;
        margin-top: 30%;
    }
}


/*----------contact---------*/
.mb-3{
    font-family: 'Rajdhani', sans-serif;
    font-size: 15px;
    padding: 20px 25px;
    margin: 20px 18px;
    background-color: #c4c2c2;
}
.submit{
   margin-top: 10px;
}

@media only screen and (max-width: 700px){
    .mb-3{
        margin-top: 30%;
    }
}




/*------------login-----------*/

.main{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(images/login.jpg);
    background-size: cover;
    background-position: center;
}


.parent{
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 20px;
    border: 1px solid skyblue;
    border-radius: 5px;
    margin: auto;
    
}
input{
    margin: 5px 0px;
    height: 40px;
    padding: 7px;
    
}
button{
    height: 40px;
    margin: 5px 0px;
    background-color: skyblue;
    border: none;
    border-radius: 5px;
    color: #333;
}
button:hover{
    background-color: #fabd02;
    color: #fff;
}
.parent p{
    color: #fabd02;
    margin-left: 50px;
}
.parent p a{
    color: #000;
    transform: translate();
}

@media only screen and (max-width: 700px){
    .parent{
        width: 320px;
    }
}



/*-------------sign up-----------*/
.sign-up-form{
    width: 350px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: skyblue;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 4px;
    padding-top: 10px;
    margin: auto;
    text-align: center;
}
.sign-up-form h2{
    margin-bottom: 30px;
}

.input-box{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}
.checkbox{
    margin-left: 30px;
}
button{
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}
hr{
    margin-top: 30px;
    width: 300px;
}
.or{
    background: #000;
    color: #fff;
    width: 30px;
    margin: -29px auto 15px;
    border-radius: 50%;
    border: 0;
}

@media only screen and (max-width: 700px){
    .sign-up-form{
        width: 300px;
    }
}


/*----------kasaragode------*/
.tourism{

    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;

}

.tourism h1{
    font-size: 3vw;
    font-weight: 300;
    color: #000;
    text-align: center;
    font-size: 80px; 
    margin-bottom: 5%;
    font-weight: bold;
}
.tourism p{
    margin-top: 3%;
    font-size: 20px;
    padding: 5%;
    color: #000;
}
.tourism h2{
    font-family: 'Rajdhani', sans-serif;
    font-size: 3vw;
    font-weight: 300;
    color: green;
    text-align: center;
    font-size: 45px;
    font-weight: 200; 
    margin-bottom: 50px;
}

.card-sub{
    font-size: medium;
}

@media only screen and (max-width: 700px){
    .tourism h1{
        padding-top: 50px;
        margin-bottom: 30px;
        margin-top: 30%;
        font-size: x-large;
    }
    .tourism h2{
        font-size: x-large;
    }
}

/*---------bakal fort-------*/

.department{
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.colum{
    margin-top: 3%;
    padding: 2%;
    border: #000;
    border: 3px;

}
.department h2{
    font-family: 'Rajdhani', sans-serif;
    font-size: 3vw;
    font-weight: 300;
    color: green;
    text-align: center;
    font-size: 45px;
    font-weight: 200; 
    margin-bottom: 50px;
    margin-top: 5%;
}
